<div class="app-card-container">
  <div class="card">
        <h1>About me</h1>
    
        <div class ="row">
          <div class = "col-md-4">
            <%= image_tag "kayn.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
          </div>
          
          <div class = "col-md-8">
            <p>Kayn is the best champ and the only champ in league of legends. And Im a kool kat that eats food and sleeps a lot. 
            I also hate life most of the time...</p>
    
      </div>
    </div>
  </div>
</div>
