<h1>About me</h1>

<div class ="row">
  <div class = "col-md-4">
    <%= image_tag "kayn.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class = "col-md-8">
    <p>Im a kool kat that eats food and sleeps a lot. 
    I also hate life most of the time...</p>

  </div>
</div>

